
body {
    background-image: url(../Foto/foto.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
}

.navigasi1 {
    display: flex;
    width: 100%;
    height: 100%;
}
.isinav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 100px;
    background-color: rgba(97, 0, 0, 0.671);
}

.bgnlogo {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
}
.logo1 {
    color: white;
    font-weight: 700;
}
.logo2 {
    color: rgb(221, 211, 71);
    font-weight: 600;
    padding-left: 4px;
}

.active {
    background-color: brown;
    color: white;
    padding: 10px;
}

.navigasi2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigasi2>li {
    list-style-type: none;
    padding: 20px;
}
.navigasi2 > li > a {
   color: antiquewhite;
   font-size: 20px;
   text-decoration: none;
   font-weight: 300;
}
.navigasi2>li>a:hover {
    color: yellow;
}

.isi {
    height: 700px;
}
.sambutan{
    text-align: center;
    padding: 15px;
}
.kata{
    color: white;
    line-height: 1.2;
}

.gambar1 {
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
    
}
.gambar1 img{
    margin-top: 30px;
    max-width: 350px;
    width: 100%;
    border-radius: 12px;
}





.footer{
    background-color: rgba(97, 0, 0, 0.671);
    text-align: center;
    width: 100%;
    height: 150px;
    color: white;
}